PORT=4000
MONGODB_URI=mongodb://localhost:27017/freelancer
JWT_SECRET=
JWT_REFRESH_SECRET=
FRONTEND_URL=
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_PASS=
FROM_EMAIL=noreply@freelancermarketplace.com
